
body{
    font-family: Roboto;
    background-image: url(Images/mads-schmidt-rasmussen-6YmzwamGzCg-unsplash.jpg);
    background-color: #cccccc;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    }
p{
    color: rgb(2, 2, 29);
    text-align: center;
}
h1{
    text-align: center;
}

button{
    display: block;
    background-image: linear-gradient(rgb(230, 56, 56), rgb(247, 62, 216));
    color: white;
    padding: 15px;
    font-size: 18px;
    box-shadow: 1px 1px 1px gray;
    text-align: center;
    
}
ul{
    list-style-position: inside;
    text-align: center;
}
img{
    display: block;
  margin-left: auto;
  margin-right: auto;
}
